.admin-game-preview-container {
    max-height: 500px; /* Adjust the height as necessary */
    // width: 650px;
    min-width: 550px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.admin-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.admin-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
