<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row color="primary" class="toolbar">
        <a routerLink="#"><img src="assets/logo.png" /></a>
        <h1 class="title">Quelle heure est-il ?</h1>
        <span class="spacer"></span>
        <span id="points" class="big-text">40 points</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-container">
        <!--*ngIf="gameService.time"-->
        <p class="big-text" id="align-center">Temps restant : 40</p>
        <button mat-raised-button id="abandon-button" routerLink="/new">Abandonner</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="main-container">
    <div class="result-container"> 
        <app-leaderboard></app-leaderboard>
    </div>
    <div class="chat-container">
        <app-chat></app-chat>
    </div>
</div>
