<div class="container">
    <h1 class="header">Création d'un nouveau jeu</h1>
    <div class="form-container">
        <div class="left">
            <mat-list class="list">
                <mat-list-item class="item">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput />
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item class="item">
                    <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <mat-select>
                            <mat-option value="one">Classique</mat-option>
                            <mat-option value="two">Among Us</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item class="item">
                    <mat-form-field>
                        <mat-label>Description du jeu</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item class="item">
                    <mat-label>Temps alloué : </mat-label>
                    <mat-slider discrete min="10" max="60" step="5" value="30">
                        <input matSliderThumb />
                    </mat-slider>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="right">
            <h2>Questions :</h2>
            <mat-icon class="add-icon" aria-hidden="false" fontIcon="add-box" routerLink="/create-question"></mat-icon>
            <mat-list class="second-list">
                <mat-list-item *ngFor="let question of questions; let i = index">
                    <span class="question">
                        <h3>
                            {{ i + 1 }}. {{ question }}
                            <mat-icon class="edit-icon" aria-hidden="false" fontIcon="edit"></mat-icon>
                            <mat-icon class="delete-icon" aria-hidden="false" fontIcon="close" (click)="deleteQuestion(i)"></mat-icon>
                        </h3>
                    </span>
                </mat-list-item>
            </mat-list>
            <button class="button" id="save" mat-raised-button color="primary">Enregistrer</button>
        </div>
    </div>
</div>
