$orange-palette: (
    50: #fce8e3,
    100: #fecab2,
    200: #fda780,
    300: #fa854b,
    400: #f86b1c,
    500: #e55c14,
    600: #e94e00,
    700: #dc4700,
    800: #ce3f00,
    900: #b63200,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

$blue-palette: (
    50: #e1f4ff,
    100: #b2e3fe,
    200: #7fd1fc,
    300: #22b2f9,
    400: #08a4f6,
    500: #08a4f6,
    600: #0c96e7,
    700: #0f83d2,
    800: #0f73be,
    900: #11529b,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

$green-palette: (
    50: #e3f9e5,
    100: #b5f0c3,
    200: #80e79f,
    300: #2dd573,
    400: #0fcf5b,
    500: #0fcf5b,
    600: #0fcf5b,
    700: #0fcf5b,
    800: #0fcf5b,
    900: #0fcf5b,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);
<<<<<<< HEAD

$wave-color: #0693e3;
=======
>>>>>>> 60d6fe0 (confirm button changed to angular material and changd style)
