// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'constant' as constant;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(constant.$orange-palette, 40+0),
            accent: mat.define-palette(constant.$blue-palette, 300),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

@include mat.all-component-themes($indigo-pink-theme);

html,
body {
    height: 100%;
    background-color: #ffe3a0;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
