// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'constant' as constant;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(constant.$orange-palette, 500),
            accent: mat.define-palette(constant.$blue-palette, 300),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

@include mat.all-component-themes($indigo-pink-theme);

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: url('assets/sand.svg'), linear-gradient(to top, #fdce7d, #ffc254);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    background-repeat: stretch;
    background-blend-mode: luminosity;
}

.toolbar {
    gap: 0.42em;
    position: sticky;
    top: 0;
    z-index: 2;
    img {
        height: 3em;
        width: 3em;
    }
    .title {
        font-size: 2em;
        font-weight: bold;
    }
    .spacer {
        flex: 1 1 auto;
    }
}