<mat-toolbar class="toolbar" color="primary">
    <a routerLink="/home"><img src="assets/logo.png" /></a>
    <h1 class="title">{{ title }}</h1>
</mat-toolbar>
<div class="content">
    <div class="accordion-container">
        <mat-accordion>
            <div *ngFor="let game of games; index as i">
                <app-startgame-expansion [gameDetails]="game" (startGame)="startGame(game)" (testGame)="testGame(game)"> </app-startgame-expansion>
            </div>
        </mat-accordion>
    </div>
</div>
