#abandon-button {
    background-color: red;
    color: white;
    font-weight: bolder;
    height: 60%;
    border-radius: 3px;
}

#next-question-button {
    font-size: 30px;
    padding: 40px, 40px;
    justify-content: center;
    position: fixed;
    width: 15%;
    margin-left: 40%;
}

.big-text {
    font-size: 1.42em;
    font-weight: bold;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
