html,
body {
    height: 100%; /* Ensure the HTML and body take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    display: flex;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

.play-area {
    display: grid;
    outline: none;
}
