<div class="main-container">
    <mat-card class="content-container">
        <mat-card-header>
            <h2 class="question-title">Question {{ indexQuestion + 1 }} : {{ this.gameService.histogram.question[indexQuestion].text }}</h2>
        </mat-card-header>
        <mat-card-content *ngIf="this.gameService.histogram.question[indexQuestion].type === questionType.QRL && showArrows">
            <div class="histogram">
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Red'
                            }"
                            [style.width]="(getZeroGrade() / getMaxQRLResult()) * 100 + '%'"
                        >
                            {{ getZeroGrade() }}
                        </div>
                    </div>
                    <span class="choice-text">0%</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Yellow'
                            }"
                            [style.width]="(getHalfGrade() / getMaxQRLResult()) * 100 + '%'"
                        >
                            {{ getHalfGrade() }}
                        </div>
                    </div>
                    <span class="choice-text">50%</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Green'
                            }"
                            [style.width]="(getPerfectGrade() / getMaxQRLResult()) * 100 + '%'"
                        >
                            {{ getPerfectGrade() }}
                        </div>
                    </div>
                    <span class="choice-text">100%</span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="this.gameService.histogram.question[indexQuestion].type === questionType.QRL && !showArrows">
            <div class="histogram">
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Green'
                            }"
                            [style.width]="(getActive() / getMaxQRL()) * 100 + '%'"
                        >
                            {{ getActive() }}
                        </div>
                    </div>
                    <span class="choice-text">Actifs</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Red'
                            }"
                            [style.width]="(getInactive() / getMaxQRL()) * 100 + '%'"
                        >
                            {{ getInactive() }}
                        </div>
                    </div>
                    <span class="choice-text">Non-actifs</span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="this.gameService.histogram.question[indexQuestion].type === questionType.QCM">
            <div class="histogram">
                <div *ngFor="let choice of this.gameService.histogram.question[indexQuestion]?.choices" class="choice-container">
                    <div class="bar-container">
                        <div
                            *ngIf="getCounter(choice) > 0"
                            class="bar"
                            [ngStyle]="{
                                'background-color': choice.isCorrect ? 'Green' : 'Red'
                            }"
                            [style.width]="(getCounter(choice) / getMaxCounter()) * 100 + '%'"
                        >
                            {{ getCounter(choice) }}
                        </div>
                        <span *ngIf="getCounter(choice) === 0" class="counter-zero">{{ getCounter(choice) }}</span>
                    </div>
                    <span class="choice-text">{{ choice.text }}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="!(this.gameService.histogram.question.length <= 1) && showArrows" class="icon-container">
        <button mat-icon-button aria-label="Before" (click)="previousQuestion()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button aria-label="Next" (click)="nextQuestion()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
