<div class="main-container">
    <mat-card class="content-container">
        <mat-card-header>
            <h2 class="question-title">Question {{ indexQuestion + 1 }} : {{ this.question?.text }}</h2>
        </mat-card-header>
        <mat-card-content *ngIf="this.question?.type === 'QRL' && showArrows">
            <div class="histogram">
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Red'
                            }"
                            [style.width]="(zeroGrade / maxQRLResult) * 100 + '%'"
                        >
                            {{ zeroGrade }}
                        </div>
                    </div>
                    <span class="choice-text">0%</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Yellow'
                            }"
                            [style.width]="(halfGrade / maxQRLResult) * 100 + '%'"
                        >
                            {{ halfGrade }}
                        </div>
                    </div>
                    <span class="choice-text">50%</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div
                            class="bar"
                            [ngStyle]="{
                                'background-color': 'Green'
                            }"
                            [style.width]="(perfectGrade / maxQRLResult) * 100 + '%'"
                        >
                            {{ perfectGrade }}
                        </div>
                    </div>
                    <span class="choice-text">100%</span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="this.histogram && this.histogram.type === 'QRL' && !showArrows">
            <div class="histogram">
                <div class="choice-container">
                    <div class="bar-container">
                        <div class="bar" [ngStyle]="{ 'background-color': 'Green' }" [style.width]="(this.histogram.active / maxQRL) * 100 + '%'">
                            {{ this.histogram.active }}
                        </div>
                    </div>
                    <span class="choice-text">Actifs</span>
                </div>
                <div class="choice-container">
                    <div class="bar-container">
                        <div class="bar" [ngStyle]="{ 'background-color': 'Red' }" [style.width]="(this.histogram.inactive / maxQRL) * 100 + '%'">
                            {{ this.histogram.inactive }}
                        </div>
                    </div>
                    <span class="choice-text">Non-actifs</span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="this.question && this.question.type === 'QCM'">
            <div class="histogram">
                <div *ngFor="let choice of question.choices" class="choice-container">
                    <div class="bar-container">
                        <div
                            *ngIf="getCounter(choice) > 0"
                            class="bar"
                            [ngStyle]="{
                                'background-color': choice.isCorrect ? 'Green' : 'Red'
                            }"
                            [style.width]="(getCounter(choice) / maxCounter) * 100 + '%'"
                        >
                            {{ getCounter(choice) }}
                        </div>
                        <span *ngIf="getCounter(choice) === 0" class="counter-zero">{{ getCounter(choice) }}</span>
                    </div>
                    <span class="choice-text">{{ choice.text }}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="this.gameService.histogram && !(this.gameService.histogram.question.length <= 1) && showArrows" class="icon-container">
        <button mat-icon-button aria-label="Before" (click)="previousQuestion()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button aria-label="Next" (click)="nextQuestion()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
