@use 'sass:map';
@use '../../../constant.scss';

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: map.get(constant.$blue-palette, 500);
    margin: 1%;
}

.edit-button,
.delete-button {
    color: white;
    background-color: map.get(constant.$blue-palette, 500);
    border: none;
}

.admin-mode-time {
    margin-left: auto;
    color: white;
    text-align: center;
    align-items: center;
}

.question-content {
    text-align: center;
    align-items: center;
    padding-bottom: 16px;
}
