<<<<<<< HEAD
<<<<<<< HEAD
@use 'sass:map';
@use '../../../constant.scss';

.answers-container {
    display: grid;
    margin-top: 4%;
    margin-left: 2%;
}

.two-answers {
    grid-template-columns: repeat(1, 1fr);
}

.three-answers {
    grid-template-columns: repeat(2, 1fr);
}
.three-answers .answer:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
    width: 50%;
}

.four-answers {
    grid-template-columns: repeat(2, 1fr);
}

.answer {
    margin: 8px;
    &:hover {
        background-color: map.get(constant.$blue-palette, 300);
    }
    height: 30vh;
=======
=======
@use 'sass:map';
@use '../../../constant.scss';

>>>>>>> 60d6fe0 (confirm button changed to angular material and changd style)
mat-grid-tile {
    background-color: map.get(constant.$blue-palette, 300);
    border-radius: 10px;
}
mat-grid-list {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    height: 50%;
>>>>>>> cae3647 (Answer tiles added to view and component named "Answers")
=======
    width: 100vh;
    height: 50vh;
>>>>>>> 6f63540 (trying to dynamically add mat-grid-tile)
=======
    width: 100%;
    height: 50%;
>>>>>>> fd6d10d (number of answers shown is now dynamic)
}
