@use 'sass:map';
@use '../../../constant.scss';

mat-grid-tile {
    background-color: map.get(constant.$blue-palette, 300);
    border-radius: 10px;
}
mat-grid-list {
    width: 100%;
    height: 50%;
}
