<div
    class="answers-container"
    [ngClass]="{
        'four-answers': choices.length === 4,
        'three-answers': choices.length === 3,
        'two-answers': choices.length === 2
    }"
>
    <button
        mat-raised-button
        class="answer"
        [ngClass]="{ selected: choice.isSelected, 'good': (choice.isCorrect === choice.isSelected) && this.showAnswer, 'bad': (choice.isCorrect !== choice.isSelected) && this.showAnswer }"
        (click)="questionSelected(choice)"
        *ngFor="let choice of choices; let i = index"
    >   
        <span> {{ (i + 1).toString() + ' - ' + choice.text }} </span>
        <mat-icon *ngIf="(choice.isCorrect === choice.isSelected) && this.showAnswer" aria-hidden="false" fontIcon="check" class="solution good"></mat-icon>
        <mat-icon *ngIf="(choice.isCorrect !== choice.isSelected) && this.showAnswer" aria-hidden="false" fontIcon="close" class="solution bad"></mat-icon>
    </button>
</div>
