<div class="main-content">
    <h1>{{ question.text }}</h1>
    <div class="qrl-choice-list">
        <mat-card
            class="qrl-choice"
            *ngFor="let answer of answers; let i = index"
            [ngClass]="{
                'grade-zero': answer.grade === Grade.Zero,
                'grade-half': answer.grade === Grade.Half,
                'grade-one': answer.grade === Grade.One
            }"
        >
            <div class="content-wrapper">
                <div class="info">
                    <div class="qrl-title">Joueur: {{ answer.player }}</div>
                    <div class="qrl-answer">Réponse: {{ answer.text }}</div>
                </div>
                <mat-form-field class="qrl-grade">
                    <mat-label>Note</mat-label>
                    <mat-select [(value)]="answer.grade" (valueChange)="onGradeChange(i, $event)">
                        <mat-option *ngFor="let grade of gradeOptions" [value]="grade.value">{{ grade.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
    <button class="next-question" mat-raised-button color="primary" (click)="sendGrades()" [disabled]="!allGraded() || gradeSent">Soumettre</button>
</div>
