<div class="main-container">
    <div class="flex column stat-container">
        <app-leaderboard></app-leaderboard>
        <app-histogram class="histogram" [showArrows]="false"></app-histogram>
    </div>
    <div class="flex column">
        <app-chat></app-chat>
        <div class="flex">
            <button mat-raised-button (click)="togglePause()" color="primary">{{gameService.pause ? 'Play' : 'Pause'}}</button>
            <button mat-raised-button (click)="startPanicking()" color="warn" [disabled]="!canPanic()">ACTIVER LA PANIQUE!</button>
        </div>
    </div>
</div>
