.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gap-10px {
    gap: 10px;
}

.button {
    width: 15em;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}

.footer-item p :nth-child(odd) {
    color: blue;
}

.logo {
    width: 16em;
    height: 16em;
}
