<div class="container justified">
    <h1 class="header-item">Crab Quiz</h1>
    <img src="assets/logo.png" class="logo" alt="Logo Projet" />

    <!-- TODO add the routes -->
    <div class="justified gap-10px">
        <button class="button" id="game" mat-raised-button color="primary">Joindre une partie</button>
        <!-- TODO add the route for sprint 2-->
        <button class="button" id="new" routerLink="/new" mat-raised-button color="primary">Créer une partie</button>
        <button class="button" id="admin" routerLink="/admin" mat-raised-button color="primary">Administrer les jeux</button>
    </div>
    <footer class="footer-item">
        <h4 class="team-name">Équipe 202 - Les crustacés</h4>
        <div>
            <span>Marc-Antoine Manningham</span>
            <span>Charles-Olivier Caron</span>
            <span>Guillaume St-Pierre</span>
            <span>Guilhem Desage-Mainville</span>
            <span>Gaëtan Florio</span>
            <span>Nicolas Mayr</span>
        </div>
    </footer>
</div>
