@use 'sass:map';
@use '../../../constant.scss';

.chat {
    background-color: white;
    height: 69vh;
    min-width: 23vw;
}

.name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    align-items: center;
}

.chat-text {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat-input {
    margin-top: auto;
    margin-bottom: -1.25em;
}

.title {
    text-align: center;
}