<<<<<<< HEAD
=======
.spacer {
    flex: 1 1 auto;
}

.question {
    font-size: 1.42em;
    color: black;
}

#points {
    color: black;
}
>>>>>>> 6046b70 (Removed mat-grid-list, dynamique number of answers in the question)
