<div id="grid-container">
    <div id="bottom-container">
        <div id="left-container">
            <section *ngIf="question.type === 'QCM'" id="answer-container">
                <app-answers [choices]="question.choices"></app-answers>
            </section>
            <section *ngIf="question.type === 'QRL' && !(gameService.currentState === gameState.ShowResults)" id="answer-container">
                <div class="text-area-container">
                    <textarea
                        matInput
                        [(ngModel)]="gameSubscriptionService.answer"
                        maxlength="200"
                        class="text-area"
                        [disabled]="gameSubscriptionService.isTextLocked"
                        (keydown.enter)="$event.preventDefault()"
                    >
                    </textarea>
                    <mat-hint class="char-count" align="end">{{ 200 - gameSubscriptionService.answer.length }} </mat-hint>
                </div>
            </section>
            <section *ngIf="question.type === 'QRL' && gameService.currentState === gameState.ShowResults">
                <app-player-qrl [grade]="gameService.grade"></app-player-qrl>
            </section>
            <button
                *ngIf="!(question.type === 'QRL' && gameService.currentState === gameState.ShowResults)"
                mat-raised-button
                id="confirm-button"
                (click)="confirmAndDisable()"
                color="primary"
                [disabled]="gameService.isValidationDisabled"
            >
                Confirmer
            </button>
        </div>
        <div id="right-container">
            <app-chat (isChatFocused)="chatFocused($event)"></app-chat>
        </div>
    </div>
    <div class="bottom" [ngStyle]="{ 'bottom.%': (-gameService.time / gameService.maxTime) * 85 - 15 }"></div>
</div>
