<div id="grid-container">
    <div id="bottom-container">
        <div id="left-container">
            <section id="answer-container">
                <app-answers [choices]="question.choices"></app-answers>
            </section>
            <button
                *ngIf="gameService.currentState === askingQuestion"
                mat-raised-button
                id="confirm-button"
                (click)="gameService.confirmQuestion()"
                class="big-text"
                color="primary"
            >
                Confirmer
            </button>
        </div>
        <div id="right-container">
            <app-chat (isChatFocused)="chatFocused($event)"></app-chat>
        </div>
    </div>
    <div class="bottom" [ngStyle]="{ 'bottom.%': (-gameService.time / gameService.maxTime) * 100 - 20 }"></div>
</div>
