@use 'sass:map';
@use '../../../constant.scss';

#grid-container {
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 0.69em;
    padding-top: 0.69em;
    height: 80vh;
    z-index: 2;
    * {
        z-index: 2;
    }
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.69em;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.bottom {
    z-index: 0;
    position: fixed;
    right: 0;
    border-top: 4em solid transparent;
    border-image: url('../../../assets/wave.svg') 400 stretch;
    background-color: constant.$wave-color;
    background-clip: padding-box;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#confirm-button {
    font-size: 40px;
    padding: 40px 40px;
}

#confirm-button:disabled {
    background-color: gray;
}

.text-area-container {
    position: relative;
}

.text-area {
    width: 700px;
    height: 350px;
    resize: none;
    font-size: 28px;
    margin-top: 5%;
    @media screen and (max-width: 1200px) {
        width: 450px;
        height: 150px;
    }
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999;
    font-size: 24px;
}
