<div class="top-row">
    <div class="sort">
        <mat-form-field>
            <mat-label id="sort-option-label">Trier par:</mat-label>
            <mat-select id="sort-option" [(ngModel)]="selectedSort">
                <mat-option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label id="sort-order-label">Ordre:</mat-label>
            <mat-select id="sort-order" [(ngModel)]="selectedSortOrder">
                <mat-option *ngFor="let order of sortOrderOptions" [value]="order.value">{{ order.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-flat-button id="sort-button" (click)="sortItems(selectedSort, selectedSortOrder)">Trier</button>
    </div>

    <button mat-flat-button id="empty-button" (click)="emptyHistory()">Vider</button>
</div>

<div class="history-list">
    <mat-card class="old-game" *ngFor="let item of items">
        <mat-card-content class="old-game-name"> {{ item.name }}</mat-card-content>
        <div class="bottom-row">
            <mat-card-content class="old-game-creation"> Date de création: {{ item.date | date: 'yyyy-MM-dd' }}</mat-card-content>
            <mat-card-content class="old-game-players"> Nombre de joueurs: {{ item.numberPlayers }}</mat-card-content>
            <mat-card-content class="old-game-score"> Meilleur score: {{ item.bestScore }} points</mat-card-content>
        </div>
    </mat-card>
</div>
