@use 'sass:map';
@use '../../../constant.scss';

.old-game {
    background-color: map.get(constant.$blue-palette, 500);
    color: white;
    margin: 1%;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: auto;
}

.old-game-name {
    padding-bottom: 10px;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#sort-option-label,
#sort-order-label {
    padding: 1%;
}

#sort-option,
#sort-order {
    margin-top: 1%;
}

#sort-button {
    margin-top: 1%;
    margin-left: 1%;
}
