.class {
    width: auto;
}
.game-image {
    padding-right: 50px;
    width: 10em;
    height: 10em;
}
.row-container {
    display: flex;
    flex-direction: row;
}
.game-button {
    margin: 10px;
}
.item-title {
    font-weight: bold;
    font-size: larger;
    padding-right: 10px;
}
.panel-title {
    font-weight: bold;
    font-size: x-large;
}
.item-content {
    font-size: larger;
}
