<mat-toolbar color="primary" class="toolbar">
    <a routerLink="#"><img src="assets/logo.png" /></a>
    <h1 class="title">Joindre une partie</h1>
    <span class="spacer"></span>
</mat-toolbar>

<div class="loading-container">
    <div class="left-content">
        <mat-list class="list">
            <mat-list-item *ngFor="let player of players" i as index>
                <mat-icon matListItemAvatar>person</mat-icon>
                <div matListItemTitle class="player-name">{{ player }}</div>
                <button *ngIf="isHost" mat-icon-button class="kick-button" (click)="onKickPlayer(player)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <!-- Loading image and text -->
    <div class="middle-content">
        <h1 class="room-code">Salle: {{ roomCode }}</h1>
        <img src="assets/loading.svg" alt="loading" class="loading-bar__image" />
        <h1 class="loading-text">En attente des joueurs</h1>

        <div class="room-controls" *ngIf="isHost">
            <button mat-fab class="room-lock-button" (click)="onToggleLock()">
                <mat-icon class="room-lock-icon">{{ roomLocked ? 'lock' : 'lock_open' }} </mat-icon>
            </button>

            <button
                class="start-game-button"
                mat-raised-button
                [disabled]="!roomLocked || players.size < 1"
                matTooltip="La partie sera démarée avec les joueurs dans la salle d'attente"
                (click)="onStartGame()"
            >
                Démarrer la partie
            </button>
        </div>
    </div>

    <!-- Chat -->
    <div class="right-content">
        <div class="chat">
            <app-chat [username]="username"></app-chat>
        </div>
    </div>
</div>
