<h2 class="title">Tableau des résultats</h2>

<div class="sort">
    <p class="sort-title">Trier par:</p>
    <table matSort (matSortChange)="setOptionSort($event)" class="sort-table">
        <tr>
            <th mat-sort-header="user">Nom</th>
            <th mat-sort-header="score">Pointage</th>
            <th mat-sort-header="state">État</th>
        </tr>
    </table>
</div>

<div class="table-wrapper">
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pointage</th>
                <th class="bonus-column">Bonus</th>
                <th *ngIf="!gameService.isPlaying">Mute</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let player of gameService.usersStat">
                <td [ngClass]="getClassState(player.state)">{{ player.username }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.bonus }}</td>
                <td *ngIf="!gameService.isPlaying">
                    <button mat-icon-button (click)="gameService.setChat(player.username, !player.canChat)">
                        <mat-icon>{{ player.canChat ? 'speaker_notes' : 'speaker_notes_off' }}</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
