@use 'sass:map';
@use '../../../constant.scss';


.title {
    text-align: center;
}

.disconnected {
    text-decoration: line-through;
}

.no-interaction{
    color: #ff0000;
}

.first-interaction {
    color: map.get(constant.$green-palette, 100);
}

.answer-confirmed {
    color: #00ff00;
}

.bonus-column{
    width: 50px;
}

.table-wrapper {
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.leaderboard-table {
    width:auto; 
    max-width: auto;
    border: 1px solid black;
    width: 60%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid black;
    padding: 10px;
}
.leaderboard-table td {
    background-color:map.get(constant.$blue-palette, 200);
    text-align: left;
}

.leaderboard-table th {
    text-align: center;
    background-color:map.get(constant.$orange-palette, 100);
    color: #333;
    font-weight: bold;

}
