.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.result-container {
    width: 100%;
    height: 100%;
}
.chat-container {
    padding: 5%;
}
