.text-area-container {
    position: relative;
}

.text-area {
    width: 700px;
    height: 350px;
    resize: none;
    font-size: 28px;
    margin-top: 5%;
    @media screen and (max-width: 1200px) {
        width: 450px;
        height: 150px;
    }
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999;
    font-size: 24px;
}