<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row color="primary" class="toolbar">
        <a routerLink="#"><img src="assets/logo.png" /></a>
        <h1 class="title">{{ question.text }}</h1>
        <span class="spacer"></span>
        <span id="points">{{ question.points }} points</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-container">
        <p>Score total : {{ score }}</p>
        <p *ngIf="time">Temps restant : {{ time }}</p>
        <button mat-raised-button id="abandon-button" (click)="abandonnerPartie()">Abandonner</button>
    </mat-toolbar-row>
</mat-toolbar>

<div id="grid-container">
    <div id="bottom-container">
        <div id="left-container">
            <section id="answer-container">
                <app-answers [choices]="question.choices"></app-answers>
            </section>
            <div id="confirm-container">
                <button mat-raised-button id="confirm-button" (click)="confirmQuestion()">Confirm</button>
            </div>
        </div>
        <div id="right-container">
            <app-chat (isChatFocused)="chatFocused($event)"></app-chat>
        </div>
    </div>
</div>
