@use 'sass:map';
@use '../../../constant.scss';

.rounded-button {
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    height: 100%;
}

#grid-container {
    width: 100%;
    height: 85.2%;
    background-image: url('/assets/wave.svg') ;
    background-repeat: no-repeat;
    background-position: bottom -50% right 0%;
    background-clip: padding-box;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#timer-container,
#score-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

#confirm-container,
#chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm-container {
    padding-top: 1.5%;
}

#chat-container {
    height: 100%;
}

#confirm-button {
    background-color: map.get(constant.$green-palette, 800);
    width: 100px;
    @extend .rounded-button;
}

#chat-button {
    background-color: map.get(constant.$blue-palette, 800);
    color: white;
    width: 100%;
    height: 90%;
    margin: 8%;
    border: none;
}
