<div id="grid-container">
    <div id="middle-container">
        <div id="score-container">
            <p>Score : {{ score }}</p>
        </div>
        <div id="timer-container">
            <p *ngIf="time">Temps restant : {{ time }}</p>
        </div>
    </div>
    <div id="bottom-container">
        <div id="left-container">
            <section id="answer-container">
                <app-answers
                    [answers]="['Guillaume en boit', 'Guillaume a apporter 2 boites', 'C\'est du lichi', 'Guillaume a bu ca a 9h du matin']"
                ></app-answers>
                <div id="confirm-container">
                    <button mat-raised-button id="confirm-button" (click)="confirmQuestion()">Confirm</button>
                </div>
            </section>
        </div>
        <div id="right-container">
            <div id="chat-container">
                <button id="chat-button" (click)="chatConfirm()">Chat</button>
            </div>
        </div>
    </div>
</div>

<!-- <div id="position-display">
        <p>Appuyez sur une touche du clavier pour la détecter</p>
        <p *ngIf="buttonPressed !== ''">Touche : {{ buttonPressed }}</p>
    </div>
</div>
