@use 'sass:map';
@use '../../../constant.scss';

#grid-container {
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.69em;
    padding-top: 0.69em;
    height: 80vh;
}

#left-container {
    display: flex;
    flex-direction: column;
    gap: 0.69em;
    width: 69%;
}

#right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#confirm-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#confirm-button {
    background-color: map.get(constant.$green-palette, 800);
    width: 100px;
}

#abandon-button {
    background-color: red;
    color: white;
    font-weight: bolder;
    height: 60%;
    border-radius: 3px;
}
