<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row color="primary" class="toolbar">
        <a routerLink="#"><img src="assets/logo.png" /></a>
        <h1 class="title">{{ question.text }}</h1>
        <span class="spacer"></span>
        <span id="points">{{ question.points }} points</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div id="score-container">
            <p>Score total : {{ score }}</p>
        </div>
        <div id="timer-container">
            <p *ngIf="time">Temps restant : {{ time }}</p>
        </div>
        <div id="abandon-container">
            <button mat-raised-button id="abandon-button" (click)="abandonnerPartie()">Abandonner</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div id="grid-container" style="background-position: bottom -100% right 0%">
    <div id="bottom-container">
        <div id="left-container">
            <section id="answer-container">
                <app-answers [choices]="choices"></app-answers>
                <div id="confirm-container">
                    <button mat-raised-button id="confirm-button" (click)="confirmQuestion()">Confirm</button>
                </div>
            </section>
        </div>
        <div id="right-container">
            <div id="chat-container">
                <button id="chat-button" (click)="chatConfirm()">Chat</button>
            </div>
        </div>
    </div>
</div>

<!-- <div id="position-display">
        <p>Appuyez sur une touche du clavier pour la détecter</p>
        <p *ngIf="buttonPressed !== ''">Touche : {{ buttonPressed }}</p>
    </div> -->
